@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto',sans-serif;
    background: url('../img/red-and-white-glow-background_23-2147496704.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    background-size: cover;
}
p {
    color: #000000;
}
.main-section{
    margin:0 auto;
    margin-top: 150px;

}

.modal-content {
    background-color: #ffb3b3;
    opacity: .85;
}
.user-img {
    margin-top:-50px;
    margin-bottom: 30px;

}
.img{
    height:100px;
    width:100px;
}

.form-group input{
    padding-left:10px;
}