@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>*@
<h3>@ViewBag.Message</h3>

<address>
    84 Observatory Ave <br />
    Observatory,Johannesburg <br />
    2187<br />
    <abbr title="Phone">P:</abbr>
    072 090 6629
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:lindo@lmagaye.co.za">lindo@lmagaye.co.za</a><br />
</address>