@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Dinerosol</h1>
    <p class="lead" >
        We are all about saving...
    </p>
    <p><a href="https://www.oldmutual.co.za/personal/financial-planning/old-mutual-savings-monitor/savings-tips" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Don't just save money, save</h2>
        <p>
            There’s a difference between saving money and saving money for your future. So don’t just spend less, put the money you save into a savings account to plan for college expenses, retirement, or emergencies that can leave you financially better off.
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Save automatically.</h2>
        <p>Setting up automatic savings is the easiest and most effective way to save, and it puts extra cash out of sight and out of mind. Every pay period, have your employer deduct a certain amount from your paycheck and transfer it to a retirement or savings account. Ask your HR representative for more details about how to set this up. Or every month, have your bank or credit union transfer a fixed amount from your checking account to a savings or investment account.</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Aim for short-term savings goals.</h2>
        <p>Make a goal such as setting aside $20 a week or month, rather than a longer term savings goal. People save more successfully when they keep short-term goals in sight.</p>
@*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>